<section class="hero-content">
    <h1 class="hero-title">{{ landing.heroTitle }}</h1>
</section>
<div class="container">
    <div class="review col-sm-5">
        <p><strong>"Joe Griffin’s ‘Rough Cut Love’ is loaded with infectious pop hooks,</strong> impeccable classic rock
            sensibilities, and seasoned with a dash of alt-rock spiciness. A departure from his previous work with the
            experimental garage- band Donny Who Loved Bowling, the songwriting here is more mature, the musicianship
            experienced, and the lyrical craftsmanship poetic. “Rough Cut Love” marks the impressive emergence of Joe Griffin
            as a creative force to be reckoned with, and one that should easily win the hearts and ears of all who take the
            time to listen.”</p>
        <p><em>-- Vince Font, “Schizopolis” Internet Radio Show</em></p>
    </div>
    <div class="review col-sm-5">
        <p><strong>"Clear, catchy, solid original sound!</strong> ... Vocally, Griffin is a cross between David Bowie
            and John Lennon, but with enough grit to sound like neither one for very long. All fo the songs are full of
            melodic guitars, poppy keyboards, super-catchy bass lines, and steering-wheel-tapping drums. From the bouncy
        “get over it” anthem “Feedback”(my personal favorite) to the soft and richly melodic “Cold Hands Warm Heart”
        to the sparkly “Left Turn at Albuquerque,” not a single track fails to capture your attention and stick
        in your head. Clear, catchy, and totally sing-along-able, this CD will earn heavy-rotation status in
        the collection of anyone who appreciates good, solid, original sound."</p>
        <p><em>D. Clohessy</em></p>
    </div>
</div>