<section class="hero-content">
    <h1 class="hero-title">{{ landing.heroTitle }}</h1>
</section>

<div class="review">
    <p><strong>"Clear, catchy, solid original sound!</strong> All musicians have their influences. Some are mere copycats
    that mimic and sound more like a cover/tribute band to the influential artist(s) than originals.
    Others limit themselves to such heavy influence that they never move beyond one sound. Then there
    are the very few who can actually pull off original stuff that, while allowing glimpses of
    influential sounds to filter through, is still completely unique. Joe Griffin is one of these artists.</p>
    <p>Joe Griffin’s debut CD, “Rough Cut Love” is a testament to his influences, to be sure, but only to
    the point where the listener may think they hear “a little bit of” something else before Griffin’s
    original sound overpowers it. Vocally, Griffin is a cross between David Bowie and John Lennon,
    but with enough grit to sound like neither one for very long. All fo the songs are full of melodic
    guitars, poppy keyboards, super-catchy bass lines, and steering-wheel-tapping drums. From the bouncy
    “get over it” anthem “Feedback”(my personal favorite) to the soft and richly melodic “Cold Hands Warm Heart”
    to the sparkly “Left Turn at Albuquerque,” not a single track fails to capture your attention and stick
    in your head. Clear, catchy, and totally sing-along-able, this CD will earn heavy-rotation status in
    the collection of anyone who appreciates good, solid, original sound."</p>
    <p><em>D. Clohessy</em></p>
</div>
